*.csv
*.xlsx
*.png

*.npy

*.qgz

.ipynb_checkpoints/
__pycache__/
.idea/
.vscode/

*junk.py

# private stuff
results/
data/
paper/

dist/

build/

# docs
site/
docs/source/auto_examples/
docs/source/gen_modules/
docs/build/
docs/_build/


automl.egg-info

# run time junk
examples/.jovianrc
examples/catboost_info/
catboost_info/
*catboost_info/
examples/paper_figs/catboost_info/
tests/__MACOSX/
tests/catboost_info/