#ai4water[ml_hpo]>=1.02
git+https://github.com/AtrCheema/AI4Water.git@dev
git+https://github.com/AtrCheema/PDPbox1.git
lightgbm
hyperopt
optuna
catboost
xgboost
sphinx
sphinx-prompt
sphinx_copybutton
sphinx_toggleprompt
sphinx_rtd_theme
sphinx_issues
sphinx-gallery
h5py
optuna<=2.10.1
tensorflow==2.7
protobuf==3.19.1